<!--header-->
<div class="bg-slate-800 p-3">
  <div class="relative z-0 w-1/2 mb-5 group mx-auto">
    <input
      type="text"
      id="search_user"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=""
      [(ngModel)]="id"
    />
    <label
      for="search_user"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Search user by id</label
    >
  </div>
</div>

<!--pagination nav -->
<nav
  aria-label="Page navigation example"
  class="mx-auto w-1/4 my-4"
  *ngIf="id == ''"
>
  <ul class="inline-flex -space-x-px text-base h-10">
    <li *ngFor="let page of pagesArray(totalPages); let i = index">
      <div
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 cursor-pointer hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white rounded"
        (click)="getAllUsers(i + 1)"
      >
        {{ i + 1 }}
      </div>
    </li>
  </ul>
</nav>

<!--users list-->
<div
  class="border rounded-lg p-2 m-10 shadow-xl flex"
  *ngFor="let user of users | search : id"
  (click)="getUser(user.id)"
>
  <div>
    <img [src]="user.avatar" class="rounded-full" />
  </div>
  <div class="mx-9 self-center font-semibold">
    {{ user.first_name }} {{ user.last_name }}
  </div>
</div>

<!--pagination nav -->
<nav
  aria-label="Page navigation example"
  class="mx-auto w-1/4 my-4"
  *ngIf="id == ''"
>
  <ul class="inline-flex -space-x-px text-base h-10">
    <li *ngFor="let page of pagesArray(totalPages); let i = index">
      <div
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 cursor-pointer hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white rounded"
        (click)="getAllUsers(i + 1)"
      >
        {{ i + 1 }}
      </div>
    </li>
  </ul>
</nav>
